<section class="d-flex">
    <article  class="d-flex flex-column align-items-center w-50">
        <h1 class="text-center">Register User</h1>
        <form class="d-flex flex-column w-50">
            <input class="m-2" type="text" name="photo" placeholder="photo" id="photo">
            <input class="m-2" type="email" name="email" placeholder="email" id="email" >
            <input class="m-2" type="password" name="password" placeholder="password" id="password">
            <input class="m-2" type="text" name="role" placeholder="role" id="role">
            <input class="m-2" type="button" id="register" value="Register" >
            
        </form>
    </article>
    
</section>